@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    +970-598 934 244
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Asabbah44@gmail.com">Asabbah44@gmail.com</a><br />
</address>